/* Variables and mixins declared here will be available in all other SCSS files */
:root {
  --clr-primary-bg: #072227;
  --clr-secondary-bg: #35858b;
  --clr-primary-link: #4fbdba;
  --clr-primary-link-hvr: #aefeff;
  --clr-primary-text: #e3e3e3;
  --clr-primary-comp: #f27d10;
  --clr-primary-polardot: #fd7028;
  --clr-primary-creatiosoft: #007cba;
  --clr-primary-babel: #2262a9;
  --clr-primary-acc: #ffafae;
  --clr-lightblur-bg: hsla(190, 15%, 76%, 0.35);
  --clr-darkblur-bg: hsla(189, 70%, 9%, 0.35);
}
@mixin bg-blur-light {
  background: var(--clr-lightblur-bg);
  backdrop-filter: blur(10px);
}
